header{
    display: flex;
justify-content: center;
color: blue;

}

body {
    background-image: url("https://images2.alphacoders.com/581/581068.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    display: flex;
    justify-content: center;
    color: #15058A;
    
}

img {
    display: flex;
    justify-content: center;
    flex-direction: center;
    margin: auto;
    width: 50%;
    height: 300px;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: blue;
    background-color:white;
    margin: auto;
    position: relative;
    top: 30px;
    width: 100px;
    text-decoration: none;
}
td {
    width: 100px;
    height:  100px;
    text-align: center;
    color: #D5D51E;
    background-color: blue;

}

h2 {
    color: yellow;
}

.scoreSheet {
    color: yellow;
}

    
